
@{
    ViewData["Title"] = "Index";
    
}
<span class="layui-breadcrumb">
    <a href="/">首页</a>
    <a>规则管理</a>
    <a><cite>规则配置</cite></a>
</span>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;"></fieldset>
<div class="layui-btn-group">
    <button class="layui-btn" id="addRuleBtn">添加新规则</button>
    <button class="layui-btn" id="applySelectedRulesBtn">下发选中规则</button>
    <button class="layui-btn" id="applyAllRulesBtn">下发所有规则</button>
    @*<button class="layui-btn" id="exportSelectedRulesBtn">导出选中规则</button>
    <button class="layui-btn" id="exportAllRulesBtn">导出所有规则</button>*@
</div>


<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>已有规则列表</legend>
</fieldset>

<table id="ruleList" lay-filter="ruleList"></table>

<script type="text/html" id="barDemo">
    @*<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>*@
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<div id="layerPageAddRule" style="display: none;">
    <div style="padding: 50px; line-height: 22px; background-color: #393D49;  font-weight: 300; overflow:visible">
        <form class="layui-form" lay-filter="selectRulePacketType">
            <div class="layui-form-item">
                <label class="layui-form-label" style="color: #ffffff">协议</label>
                <div class="layui-input-inline">
                    <select name="AppProtocol" lay-filter="AppProtocol" lay-search=""></select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" style="color: #ffffff">包类型</label>
                <div class="layui-input-inline">
                    <select name="PacketType" lay-filter="PacketType" lay-search="">
                    </select>
                </div>
            </div>
        </form>
    </div>
</div>



@section Scripts
{
    <script>
        $("li").removeClass("layui-nav-itemed");
        $("#RuleManage").addClass("layui-nav-itemed");
        layui.use(['layer', 'form', 'table'],
            function() {
                var layer = layui.layer, form = layui.form, table = layui.table;
                table.render({
                    elem: '#ruleList'
                    , height: 315
                    , url: '/AppRule/GetRuleList/' //数据接口
                    , page: true //开启分页
                    , limits: [10, 20, 30, 40, 50, 60, 70, 80, 90]
                    , cols: [[ //表头
                        { type: 'checkbox', fixed: 'left'}
                        , { field: 'Id', title: '规则ID', sort: true, width: 80 }
                        , { field: 'PacketType', title: '数据包类型', sort: true }
                        , { field: 'OperationCount', title: '条件数', sort: true }
                        , { field: 'ActionCount', title: '动作数', sort: true }
                        , { title: '操作', fixed: 'right', width: 180, align: 'center', toolbar:'#barDemo'}
                    ]]
                });

                $("#addRuleBtn").click(function() {
                    layer.open({
                        type: 1,
                        title: false,
                        closeBtn: true,
                        area: '300px',
                        scrollbar: false,
                        shade: 0.8,
                        id: 'LAY_AddRule',
                        btn: ['确定'],
                        btnAlign: 'c',
                        moveType: 1,
                        content: $("#layerPageAddRule").html(),
                        success: function (layero, index) {
                            layero.find("#LAY_AddRule").attr("style", "overflow:visible");
                            form.render('select', "selectRulePacketType");
                        },
                        yes: function (index, layero) {
                            form.render('select', "selectRulePacketType");
                            var packetType = layero.find("select[name='PacketType']").val();
                            $.post("/AppRule/AddRule",
                                {
                                    packetType: packetType
                                },
                                function(ruleId) {
                                    $(location).attr('href', '/AppRule/Edit?id=' + ruleId);
                                });
                        }
                    });
                });

                form.on('select(AppProtocol)', function (data) {
                    $.getJSON("/api/EnumInfoApi/GetPacketType",
                        {
                            protocol: data.elem.selectedOptions[0].text
                        }, function (json) {
                            $("select[name='PacketType']").empty();
                            $.each(json,
                                function (idx, item) {
                                    $("select[name='PacketType']")
                                        .append("<option value=" + item.value + ">" + item.name + "</option>");
                                });
                            form.render('select', "selectRulePacketType");
                        });
                });


                $.getJSON("/api/EnumInfoApi/GetEnum",
                    function(json) {
                        $("select[name='AppProtocol']").empty();
                        $.each(json,
                            function(idx, item) {
                                $("select[name='AppProtocol']")
                                    .append("<option value=" + item.value + ">" + item.name + "</option>");
                            });
                    }).done(function() {
                    $.getJSON("/api/EnumInfoApi/GetPacketType",
                        {
                            protocol: $("select[name='AppProtocol']").val()
                        },
                        function(json) {
                            $("select[name='PacketType']").empty();
                            $.each(json,
                                function(idx, item) {
                                    $("select[name='PacketType']")
                                        .append("<option value=" + item.value + ">" + item.name + "</option>");
                                });
                        });
                }).done(function() {
                    form.render('select', "selectRulePacketType");
                });

                table.on('tool(ruleList)', function(obj){
                    var data = obj.data;
                    if (obj.event === 'edit') {
                        $(location).attr('href', '/AppRule/Edit?id=' + data.Id);
                    } else if(obj.event === 'del'){
                        layer.confirm('真的删除此规则么', function(index){
                            obj.del();
                            $.getJSON("/AppRule/DeleteRule",
                                {
                                    id: data.Id
                                }).done(function() {
                                layer.close(index);
                            });
                        });
                    }
                });

                $("#applySelectedRulesBtn").click(function () {
                    var checkStatus = table.checkStatus('ruleList')
                        , data = checkStatus.data;
                    $.post("/AppRule/ApplyRules",
                        {
                            appRules: data
                        },
                        function(retStr) {
                            layer.msg("规则下发成功");
                        });
                });

                $("#applyAllRulesBtn").click(function () {
                    $.post("/AppRule/ApplyRules",
                        {
                            applyAll: true
                        },
                        function(retStr) {
                            layer.msg("规则下发成功");
                        });
                });
            });
    </script>
}
